/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* -------------------------------------------------- */

.doporucujeme {
    font-size: 14px;
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 2px black; 
}

.hlavni-recept{
    min-height: 200px;
    width: 100%;
    position: relative;
    background-size: auto;
    background-position: center;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/burger.jpg) no-repeat;
    border: 0.3px solid white;
    max-width: 100%;
}

.recept {
    position: relative;
    min-height: 90px;
    width: 100%;
}

.hlavni-recept .recept-nazev {
    font-size: 28px;
    font-weight: 800;
}

.recept2 {
    background-position: center;
    background-size: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/sushi.jpg) no-repeat;
    border: 0.3px solid white;
    max-width: 100%;
}

.recept3 {    
    background-position: center;
    background-size: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/kure.jpg) no-repeat;
    border: 0.3px solid white;
    max-width: 100%;
}

.recept4 {
    background-position: center;
    background-size: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/rajcata.jpg) no-repeat;
    border: 0.3px solid white;
    max-width: 100%;
}

.recept5 {
    background-position: center;
    background-size: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/grilovani.jpg) no-repeat;
    border: 0.3px solid white;
    max-width: 100%;
}

.recept-nazev {
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.recept-kategorie {
    position: absolute;
    top: 10px;
    left: 10px;
}

.recept-komentare {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* tablet */
@media (min-width: 480px) {

    .sloupec {
        display: flex;
    }

    .hlavni-recept{
        min-height: 250px;
        background-size: auto;
    }

    .recept-komentare,
    .recept-kategorie {
        top: 20px;
    }

    .recept {
        min-height: 150px;
        display: inline-block;
        width: 50%;
    }

    .hlavni-recept .recept-nazev {
        font-size: 36px;
    }    

    .recept-nazev {
        font-size: 22px;
        bottom: 20px;
    }

}

/* notebook/pc */
@media (min-width: 860px) {

    .sloupec {
        display: flex;
        width: 66.66%;
    }

    .hlavni-recept{
        min-height: 400px;
        width: 33.33%;
        float: left;
        background-size: auto;
    }

    .recept-komentare,
    .recept-kategorie {
        top: 20px;
    }

    .recept {
        min-height: 200px;
        display: inline-block;
    }
    
    .hlavni-recept .recept-nazev {
        font-size: 48px;
    }

    .recept-nazev {
        font-size: 28px;
        bottom: 20px;
    }

}
